.wrapper {
  background-image: url("../../public/images/tree.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  height: 80%;
  text-align: center;
  display: flex;
}

p {
  text-align: left;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 6.5;
}

.left > p {
  padding-left: 15%;
  padding-top: 10%;
}

.right {
  background-image: url(https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHdlYXRoZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  width: 35%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  flex: 3.5;
  padding: 1em;
}

.loading {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding: 15%;
  color: #ffee00;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2em;
  flex-direction: column;
}

@media only screen and (max-width: 560px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .left {
    justify-content: center;
    margin-top: -2rem;
    gap: 1rem;
  }

  .right {
    width: 100%;
  }

  .title {
    margin: 0 auto;
    margin-left: 2.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .left {
    padding: 1rem;
  }
}
