.main__wrapper {
  width: 100%;
  height: 100%;
}

.input__container {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  height: 3em;
}

.input {
  flex: 8;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(153, 151, 151);
  outline: none;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  padding-left: 8px;
  margin-right: 12px;
}

.icon__container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: coral;
  cursor: pointer;
}

.icon {
  font-size: 32px;
}

table {
  display: flex;
  flex-direction: column;
  text-align: left;
}
