.mainWrap {
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

.mainWrap > p {
  margin-bottom: 1em;
  color: coral;
  font-size: 1.5em;
  font-weight: bold;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.wrap > p {
  margin-bottom: 0.5em;
}

hr {
  margin-top: 1em;
}

@media only screen and (max-width: 560px) {
  .mainWrap {
    padding: 0;
    overflow: hidden;
  }
}
