* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  background-image: url("../public//images/tree.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  filter: blur(8px);
  position: relative;
  z-index: 1;
}
